.nav-link.active {    
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.4) 0%, rgba(34, 44, 98, 0.4) 39%, rgba(30,56,205,0.4) 100%) !important;
    backdrop-filter: blur(2px);
    border-radius: 0.4rem;
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-link {
    width: 100px;
    border-bottom: 1px solid rgba(30,56,205,0.4);
    font-size: 12px;
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.1) 0%, rgba(34, 44, 98, 0.1) 39%, rgba(30,56,205,0.1) 100%) !important;
    backdrop-filter: blur(2px);    
}

.nav-link:hover {
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.3) 0%, rgba(34, 44, 98, 0.3) 39%, rgba(30,56,205,0.3) 100%) !important;
    backdrop-filter: blur(2px);
}

input.dash-input:invalid {
    outline: solid #AF0404 !important;
}

@media only screen and (max-width: 768px) {
    .graph-section {
        flex-direction: column-reverse;
    }

    .info-aside{
        width: 100% !important;
    }

    .graph-aside{
        width: 100% !important;
        padding: 0 !important;
    }

    #stock-levels {
        margin-top: 15px !important;
    }

    #main-graph {
        margin-left: -20px;
    }

    .body-section {
        width: 100% !important;
        padding: 20px !important;
        margin-top: 20px !important;
    }

    .dropdowns-section {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .technical-aside {
        width: 100% !important;
    }

    footer {
        flex-direction: column-reverse;
    }

    .footer-names {
        align-items: center !important;
    }

}