.nav-link.active {    
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.4) 0%, rgba(34, 44, 98, 0.4) 39%, rgba(30,56,205,0.4) 100%) !important;
    backdrop-filter: blur(2px);
    border-radius: 0.4rem;
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-link{
    width: 100px;
    border-bottom: 1px solid rgba(30,56,205,0.4);
    font-size: 12px;
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.1) 0%, rgba(34, 44, 98, 0.1) 39%, rgba(30,56,205,0.1) 100%) !important;
    backdrop-filter: blur(2px);    
}

.nav-link:hover{
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.3) 0%, rgba(34, 44, 98, 0.3) 39%, rgba(30,56,205,0.3) 100%) !important;
    backdrop-filter: blur(2px);
}