
.nav-link.active {    
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.4) 0%, rgba(34, 44, 98, 0.4) 39%, rgba(30,56,205,0.4) 100%) !important;
    backdrop-filter: blur(2px);
    border-radius: 0.4rem;
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-link {
    width: 100px;
    border-bottom: 1px solid rgba(30,56,205,0.4);
    font-size: 12px;
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.1) 0%, rgba(34, 44, 98, 0.1) 39%, rgba(30,56,205,0.1) 100%) !important;
    backdrop-filter: blur(2px);    
}

.nav-link:hover {
    background: rgb(2,0,36) !important;
    background: linear-gradient(120deg, rgba(50,50,50,0.3) 0%, rgba(34, 44, 98, 0.3) 39%, rgba(30,56,205,0.3) 100%) !important;
    backdrop-filter: blur(2px);
}

input.dash-input:invalid {
    outline: solid #AF0404 !important;
}

.stock-website:hover > h3 {
    color: #007eff;
}

.stock-website:hover > Img {
    filter: invert(38%) sepia(99%) saturate(4271%) hue-rotate(200deg) brightness(105%) contrast(104%);
}

.Select-clear-zone {
    display: none !important;
}

.first-page, .previous-page, .next-page, .last-page{
    background-color: transparent;
}

.first-page, .previous-page, .next-page, .last-page > svg{
    filter: invert(38%) sepia(99%) saturate(4271%) hue-rotate(200deg) brightness(105%) contrast(104%);
}

.page-number, .current-page-shadow {
    color: #007eff !important;
}

.current-page-shadow {
    border-bottom: none !important;
}

.mantine-MultiSelect-input {
    background: transparent !important;
    border: none;
    padding: 0px;
}

.mantine-MultiSelect-defaultValue {
    background: transparent !important;
    color: #007eff;
}

.mantine-UnstyledButton-root > svg {
    color: #007eff;
}

@media only screen and (max-width: 768px) {
    .graph-section {
        flex-direction: column-reverse;
    }

    .info-aside{
        width: 100% !important;
    }

    .graph-aside{
        width: 100% !important;
        padding: 0 !important;
    }

    #stock-levels {
        margin-top: 15px !important;
    }

    #main-graph {
        margin-left: -20px;
    }

    .body-section {
        width: 100% !important;
        padding: 20px !important;
        margin-top: 20px !important;
    }

    .dropdowns-section {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .technical-aside {
        width: 100% !important;
    }

    footer {
        flex-direction: column-reverse;
    }

    .footer-names {
        align-items: center !important;
    }

}